### 필요한 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np

from glob import glob
from tqdm import tqdm
from scipy import interpolate

import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, LSTM, GRU, AveragePooling1D, GlobalAveragePooling1D

'''#GPU 자원이 부족한 경우 아래 코드를 이용하세요
from tensorflow.compat.v1 import ConfigProto
from tensorflow.compat.v1 import InteractiveSession

config = ConfigProto()
config.gpu_options.allow_growth = True
session = InteractiveSession(config=config)'''

'#GPU 자원이 부족한 경우 아래 코드를 이용하세요\nfrom tensorflow.compat.v1 import ConfigProto\nfrom tensorflow.compat.v1 import InteractiveSession\n\nconfig = ConfigProto()\nconfig.gpu_options.allow_growth = True\nsession = InteractiveSession(config=config)'

### 데이터 전처리

In [3]:
w_list = sorted(glob("competition_data/water_data/*.csv"))
w_list

['competition_data/water_data/data_2012.csv',
 'competition_data/water_data/data_2013.csv',
 'competition_data/water_data/data_2014.csv',
 'competition_data/water_data/data_2015.csv',
 'competition_data/water_data/data_2016.csv',
 'competition_data/water_data/data_2017.csv',
 'competition_data/water_data/data_2018.csv',
 'competition_data/water_data/data_2019.csv',
 'competition_data/water_data/data_2020.csv',
 'competition_data/water_data/data_2021.csv',
 'competition_data/water_data/data_2022.csv']

In [4]:
pd.read_csv(w_list[0]).shape

(26496, 15)

In [5]:
pd.read_csv(w_list[0]).head(4)

,ymdhm,swl,inf,sfw,ecpc,tototf,tide_level,wl_1018662,fw_1018662,wl_1018680,fw_1018680,wl_1018683,fw_1018683,wl_1019630,fw_1019630
0,2012-05-01 00:00,24.800,555.0,219.07,24.93,555.0,445.0,310.7,469.05,300.2,0.0,290.0,729.80,275.3,540.18
1,2012-05-01 00:10,24.794,464.6,218.86,25.15,562.9,449.0,314.7,498.00,300.2,0.0,290.0,731.48,275.3,540.18
2,2012-05-01 00:20,24.789,478.1,218.69,25.31,576.4,451.0,313.7,490.68,301.2,0.0,290.0,726.42,275.3,540.18
3,2012-05-01 00:30,24.789,464.8,218.69,25.31,563.1,452.0,311.7,476.21,301.2,0.0,290.0,726.42,276.3,552.17

In [8]:
train_data = []
train_label = []
num = 0

for i in w_list[:-1]:
    
    tmp = pd.read_csv(i)
    tmp = tmp.replace(" ", np.nan)
    tmp = tmp.interpolate(method = 'values')
    tmp = tmp.fillna(0)
    
    for j in tqdm(range(len(tmp)-432)):
        train_data.append(np.array(tmp.loc[j:j + 431, ["swl", "inf", "sfw", "ecpc",
                                                       "tototf", "tide_level",
                                                       "fw_1018662", "fw_1018680",
                                                       "fw_1018683", "fw_1019630"]]).astype(float))
        
        train_label.append(np.array(tmp.loc[j + 432, ["wl_1018662", "wl_1018680",
                                                      "wl_1018683", "wl_1019630"]]).astype(float))

100%|██████████| 26064/26064 [00:16<00:00, 1592.42it/s]
100%|██████████| 26064/26064 [00:16<00:00, 1579.63it/s]
100%|██████████| 26064/26064 [00:16<00:00, 1613.83it/s]
100%|██████████| 26064/26064 [00:16<00:00, 1611.24it/s]
100%|██████████| 26064/26064 [00:16<00:00, 1620.11it/s]
100%|██████████| 26064/26064 [00:16<00:00, 1596.77it/s]
100%|██████████| 26064/26064 [00:16<00:00, 1593.17it/s]
100%|██████████| 26064/26064 [00:16<00:00, 1585.03it/s]
100%|██████████| 26064/26064 [00:16<00:00, 1623.18it/s]
100%|██████████| 26064/26064 [00:16<00:00, 1606.90it/s]

In [9]:
train_data = np.array(train_data)
train_label = np.array(train_label)

print(train_data.shape)
print(train_label.shape)

(260640, 432, 10)
(260640, 4)

### 모델링 및 모델 학습

In [10]:
input_shape = (train_data[0].shape[0], train_data[0].shape[1])

model = Sequential()
model.add(GRU(256, input_shape=input_shape))
model.add(Dense(4, activation = 'relu'))

optimizer = tf.optimizers.RMSprop(0.001)

model.compile(optimizer=optimizer,loss='mse', metrics=['mae'])

2022-07-21 09:34:47.260046: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-07-21 09:34:48.900532: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 22307 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:19:00.0, compute capability: 8.6
2022-07-21 09:34:48.908396: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:1 with 22307 MB memory:  -> device: 1, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:1a:00.0, compute capability: 8.6
2022-07-21 09:34:48.908984: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:2 with 22307 MB memory:  -> device: 2, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:67:00.0, compute capability: 8.6
2022-07-21 09:34:48.909552: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:3 with 21929 MB memory:  -> device: 3, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:68:00.0, compute capability: 8.6

In [11]:
model.fit(train_data, train_label, epochs=10, batch_size=128)

Epoch 1/10

2022-07-21 09:35:01.081596: I tensorflow/stream_executor/cuda/cuda_dnn.cc:366] Loaded cuDNN version 8301
Could not load symbol cublasGetSmCountTarget from libcublas.so.11. Error: /usr/local/cuda-11.0/lib64/libcublas.so.11: undefined symbol: cublasGetSmCountTarget
2022-07-21 09:35:01.292363: I tensorflow/stream_executor/cuda/cuda_blas.cc:1774] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.

2037/2037 [==============================] - 65s 31ms/step - loss: 23559.6309 - mae: 106.2411
Epoch 2/10
2037/2037 [==============================] - 63s 31ms/step - loss: 795.8149 - mae: 10.1000
Epoch 3/10
2037/2037 [==============================] - 63s 31ms/step - loss: 474.9616 - mae: 8.5367
Epoch 4/10
2037/2037 [==============================] - 63s 31ms/step - loss: 395.4958 - mae: 8.0790
Epoch 5/10
2037/2037 [==============================] - 63s 31ms/step - loss: 321.9026 - mae: 7.7202
Epoch 6/10
2037/2037 [==============================] - 63s 31ms/step - loss: 301.7075 - mae: 7.7862
Epoch 7/10
2037/2037 [==============================] - 63s 31ms/step - loss: 296.4068 - mae: 7.9366
Epoch 8/10
2037/2037 [==============================] - 63s 31ms/step - loss: 309.4472 - mae: 8.2830
Epoch 9/10
2037/2037 [==============================] - 63s 31ms/step - loss: 280.1459 - mae: 8.2391
Epoch 10/10
2037/2037 [==============================] - 63s 31ms/step - loss: 286.8524 - mae: 8.2701

### 추론 데이터셋 만들기

In [36]:
test_data = []
test_label = []

tmp = pd.read_csv(w_list[-1])
tmp = tmp.replace(" ", np.nan)
# 이전값을 사용
tmp = tmp.fillna(method = 'pad')
tmp = tmp.fillna(0)
    
#tmp.loc[:, ["wl_1018662", "wl_1018680", "wl_1018683", "wl_1019630"]] = tmp.loc[:, ["wl_1018662", "wl_1018680", "wl_1018683", "wl_1019630"]]*100
    
for j in tqdm(range(4032, len(tmp)-432)):
    test_data.append(np.array(tmp.loc[j:j + 431, ["swl", "inf", "sfw", "ecpc",
                                                    "tototf", "tide_level",
                                                    "fw_1018662", "fw_1018680",
                                                    "fw_1018683", "fw_1019630"]]).astype(float))
        
    test_label.append(np.array(tmp.loc[j + 432, ["wl_1018662", "wl_1018680",
                                                    "wl_1018683", "wl_1019630"]]).astype(float))

100%|██████████| 6912/6912 [00:04<00:00, 1583.14it/s]

In [39]:
test_data = np.array(test_data)
test_label = np.array(test_label)

print(test_data.shape)
print(test_label.shape)

(6912, 432, 10)
(6912, 4)

### 제출 파일 만들기

In [40]:
pred = model.predict(test_data)

In [42]:
pred = pd.DataFrame(pred)

In [50]:
sample_submission = pd.read_csv("competition_data/sample_submission.csv")

sample_submission["wl_1018662"] = pred[0]
sample_submission["wl_1018680"] = pred[1]
sample_submission["wl_1018683"] = pred[2]
sample_submission["wl_1019630"] = pred[3]

In [52]:
sample_submission.to_csv("baseline.csv", index = False)